@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Spartan", sans-serif;
    font-size: 14px;
  }
  h1 {
    @apply font-["Antonio"] font-medium;
    line-height: 103px;
    font-size: 80px;
  }
  h2 {
    @apply font-["Antonio"] font-medium;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.5px;
  }
  h3 {
    @apply font-["Antonio"] font-bold;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 2.6px;
  }
  h4 {
    @apply font-["Antonio"] font-bold;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
  }
}
